{% extends 'base/menu_rotiseria.html' %} {% block content %}
<div class="min-vh-100 d-flex flex-colum py-4">
    <div class="container">
        <h3 class="animate__animated animate__bounceInDown animate__delay-0.4s text-center my-3">Tipo De Menu</h3>

        <div class="row">
            <div class="col-sm-6 mx-auto animate__animated animate__bounceInUp animate__delay-0.5s">
                {{ mensaje }} {% load crispy_forms_tags %}
                <div class="card">
                    <div class="card body p-2">
                        <form action="" method="post">
                            {% csrf_token %} {{ form | crispy }}
                            <div class="d-flex justify-content-end">
                                <a href="{% url 'pedido:tipo_menu' %}" class="btn btn-secondary mt-2 mx-2">Cancelar</a>
                                <button type="submit" class="btn btn-danger mt-2 mx-2">Agregar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}