{% extends "base/menu_rotiseria.html" %} {% block content %}

<section class="py-5">
    <div class="container px-4 px-lg-5 my-3">
        <div class="row gx-4 gx-lg-5 align-items-center">
            {% if menu.imagen %}
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{ menu.imagen.url}}" /></div>
            {% else %}
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0"
                    src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." /></div>
            {% endif %}
            <div class="col-md-6">
                {% comment %} <div class="small mb-1">Código: {{ menu.id }}</div> {% endcomment %}
                <h1 class="display-5 fw-bolder">{{ menu.nombre }}</h1>
                <div class="fs-5 mb-5">

                    <span>$. {{ menu.precio }} </span>
                </div>
                <p class="lead">{{ menu.descripcion}}</p>
                <div class="d-flex">
                    {% if user.is_authenticated%}
                    <i class="bi-cart-fill me-1"></i> Agregar al Carrito
                    </a> {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock %}