{% extends 'base/menu_rotiseria.html' %} {% block content %}
<div class="min-vh-100 d-flex flex-colum py-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-6 col-sm-4 animate__animated animate__backInRight animate__delay-0.4s">
                <div class="card">
                    <div class="card-header text-center font-weight-bold">
                        {{ title }}
                    </div>
                    <div class="card-body table-responsive align-items-center">
                        <!-- inline-block justify-content-end mb-2 mx-2 -->
                        <div class="d-flex mb-2">
                            <a href="{% url 'pedido:addMenu' %}" class="d-flex inline-block mx-auto btn btn-dark btn-sm"
                                type="submit">
                                Nuevo Menu
                            </a>

                            <form class="d-flex mx-auto d-sm-inlne-block form-inline" method="POST" action="">
                                {% csrf_token %}
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-1 small text-center"
                                        name="buscador" placeholder="buscar..." value="{{ request.POST.buscador }}">
                                    <div class="input-group-append">
                                        <button class="btn btn-danger mx-1" type="submit">
                                            <i class="bi bi-search bi-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <table class="table table-condensed">
                            <thead class="thead-dark text-center ">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">descripcion</th>
                                    <th scope="col">precio</th>
                                    <th scope="col">Tipo De Menu</th>
                                    <th scope="col">Tipo De Plato</th>
                                    <th colspan="2">Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% load bootstrap_icons %} {% if entity %} {% for menu in entity %}
                                <tr>
                                    <td>{{ menu.id }}</td>
                                    <td>{{ menu.nombre }}</td>
                                    <td>{{ menu.descripcion }}</td>
                                    <td>{{ menu.precio }}</td>
                                    <td>{{ menu.tipo_menu }}</td>
                                    <td>{{ menu.tipo_plato }}</td>

                                    <td colspan="2">
                                        <a class="btn btn-secondary btn-sm" href="{% url 'pedido:editarMenu' menu.id %}"
                                            type="button"><i class="bi bi-pencil-square"></i></a>
                                        <a class="btn btn-danger btn-sm" href="{% url 'pedido:deleteMenu' menu.id %}"
                                            type="button"><i class="bi bi-trash-fill"></i></a>
                                    </td>
                                </tr>
                                {% endfor %} {% else %}
                                <div class="text-center text-warning">
                                    <h3> No se encontraron menus!!</h3>
                                </div>
                                {% endif %}
                            </tbody>
                        </table>
                        <div>
                            {% include 'pedido/paginator.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}