{% extends 'base/menu_rotiseria.html' %} {% block content %}
{% load static %}

<link rel="stylesheet" href="{%static  '/css/cart.css' %}">


<div class="">
    <div class="" style="text-align: center;">
        <div class="row ">
            <div class="col-lg-9 col-md-8 col-sm-6 mx-auto columna ">

                <div class="card">
                    <div class="card-header text-center">
                        <strong>CARRITO</strong>
                    </div>
                    <div class="card body p-2">
                        {% load humanize %}
                        <h6 style="color: black;">Total: <strong>
                                $. {{ importe_total_carro | intcomma }}
                            </strong></h6>

                    </div>

                    <div class="card-element table-responsive">
                        <table class="table table-condensed">
                            <thead class="text-center">
                                <tr>
                                    <th>Item</th>
                                    <th colspan="3">Cantidad</th>
                                    <th>Subtotal</th>
                                    <th>Eliminar</th>
                                </tr>
                            </thead>
                            <tbody class="py-4">
                                {% if request.session.carro.items %} {% for key, value in request.session.carro.items %}
                                <tr>
                                    <td>{{ value.nombre }}</td>

                                    {% load bootstrap_icons %}
                                    <td class="text-center" colspan="3">
                                        {{ value.cantidad }}
                                        <a href="{% url 'pedido:agregar_Menu_procesar_compra' value.producto_id %}"
                                            class="btn btn-success btn-sm" type="button"><i class="bi bi-plus"></i></a>




                                        <a class="btn btn-danger btn-sm"
                                            href="{% url 'pedido:restarcart' value.producto_id %}" type="button"><i
                                                class="bi bi-dash"></i> </a>
                                    </td>

                                    <td class="text-center">$.{{ value.precio }} </td>
                                    <td class="text-center">
                                        <a class="btn btn-info btn-sm"
                                            href="{% url 'pedido:delcart' value.producto_id %}" type="button"><i
                                                class="bi bi-trash"></i></a>
                                    </td>
                                </tr>
                                {% endfor %} {% else %}
                                <tr>
                                    <td colspan="5">
                                        <div class="alert alert-danger text-center ">

                                            No se agregaron productos al carrito

                                        </div>
                                </tr>
                                </tr>
                                {% endif %}

                            </tbody>
                        </table>

                    </div>

                    <div class="card-footer mx-auto ">

                        {% if user.is_authenticated and user.is_superuser %}

                        <a class="btn btn-danger mx-auto mt-0 " href="{% url 'pedido:PedidoAdmin'%}">Procesar Compra
                            </a>

                        {% else %}

                        {% if request.session.carro.items   %}



                        <a class="btn btn-danger mx-auto mt-0 " href="{% url 'pedido:pedidoCliente'%}">Procesar
                            Compra</a>
                        {% else %}
                        <a class="btn btn-danger mx-auto mt-0 disabled" href="#">Procesar Compra</a>
                        {% endif %}

                        {% endif %}

                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-3 my-4 mx-auto ">
                <div class="card card-footer align-item-center ">
                    <a href="{% url 'pedido:Menu_pagina_principal' %}" class="btn btn-warning my-2 mx-auto ">Volver Al
                        Menu</a>
                    <a href="{% url 'pedido:cleancart' %}" class="btn btn-primary my-2 mx-auto ">Limpiar Carrito</a>
                </div>

            </div>

        </div>
    </div>
</div>
{% endblock %}