{% load static %}
<!DOCTYPE html>
<html>

<head>
  {% if messages %}
  {% for message in messages %}
  <script>
    alert("{{message}}");
  </script>
  {% endfor %}
  {% endif %}


  <title>

    {% block title%} TITULO DOCUMENTO {% endblock %}

  </title>

  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{%static  '/css/styles.css'%}">
  <link rel="icon" href="{%static  '/img/logo_rotiseria.png'%}">




  <link rel="stylesheet" href="{%static  '/css/admin_vista.css'%}">






  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous">
  </script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">


  <style>
    .errorlist {



      color: red;
    }


    .nav-link,
    .usuario {
        color: #0D6EFD !important;
    }
  </style>





</head>



<!-- 
style="background-image: url({% static 'img/fondo_index_admin.jpg'%}); -->

<body  >



  {% block header%}



  {% endblock %}



  <nav style="background-color: #212529;" class="navbar navbar-expand-lg ">
    <div class="container-fluid"  style="background-color: #212529;">
      <a class="navbar-brand" href="{% url 'inicio_admin' %}"><i class="bi bi-house-door-fill"></i></a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">





          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-person-circle"></i> Cliente
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'cliente:registrar_cliente' %}">Registrar Cliente</a></li>
              <li><a class="dropdown-item" href="{% url 'cliente:listar_clientes' %}">Listar Clientes</a></li>

            </ul>
          </li>





          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-file-earmark-person"></i> Empleados
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'empleado:registrar_empleado' %}">Registrar Empleado</a></li>
              <li><a class="dropdown-item" href="{% url 'empleado:listar_empleados' %}">Listar Empleados</a></li>
              <li><a class="dropdown-item" href="{% url 'persona:creacion_repartidor' %}">Registrar Repartidor</a></li>
              <li><a class="dropdown-item" href="{% url 'persona:listar_repartidores' %}">Listar Repartidores</a></li>

            </ul>
          </li>


          <li class="nav-item">
            <a class="nav-link" href="/"><i class="bi bi-p-circle-fill"></i>agina <i
                class="bi bi-p-circle-fill"></i>rincipal</a>
          </li>


          <li class="nav-item">




            {% comment %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Menu
            </a> {% endcomment %}
            <ul class="dropdown-menu">
              {% comment %} <li><a class="dropdown-item" href="{% url 'pedido:gestion_menu' %}">Registrar Menus</a></li>
              <li><a class="dropdown-item" href="{% url 'pedido:listar_menu' %}">Listar Menu</a></li> {% endcomment %}

            </ul>
          </li>











        </ul>
      </div>
    </div>
  </nav>







  {% block content %}







  {% endblock %}



  {% block footer%}



  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <span class="text-muted">&copy; 2022 El Mejor Sabor</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-2"><a class="text-muted" href="#">
          <svg class="bi" width="24" height="24"><i class="bi bi-whatsapp"></i></svg>
        </a></li>
      <li class="ms-2"><a class="text-muted" href="#">
          <svg class="bi" width="24" height="24"><i class="bi bi-twitter"></i></svg>
        </a></li>
      <li class="ms-2"><a class="text-muted" href="#">
          <svg class="bi" width="24" height="24"><i class="bi bi-instagram"></i></svg>
        </a></li>
      <li class="ms-2"><a class="text-muted" href="#">
          <svg class="bi" width="24" height="24"><i class="bi bi-facebook"></i></svg>
        </a></li>
    </ul>
  </footer>

  {% endblock %}


</body>

</html>