{% extends 'base_index.html'%}


{% load static %}


{% if messages %} {% for message in messages %}
<script>
  Swal.fire({
    "title": "Felicitaciones!!",
    "text": "{{ message }}",
    "icon": "success"
  })
</script>
{% endfor %} {% endif %}

{% block title%}Pagina Principal{%endblock %}











{% block header%}


<link rel="stylesheet" href="{%static '/css/styles.css' %}">
<link rel="stylesheet" href="{%static  '/css/styles_index.css' %}">
<link rel="stylesheet" href="{%static  '/css/estilo_inicio_cliente.css' %}">

<header class="container-fluid bg-dark position-sticky top-0">






  <div id="logo_rotiseria"><a class="navbar-logo" href="/">
      <img class="img-fluid " id="logo_rotiseria" src="{%static  '/img/logoblanco.png'%}" width="50%" heigth="50%"
        alt="logo">
    </a></div>




  <ul class="nav nav-pills mb-3 py-3 container" id="pills-tab" role="tablist">









    <li class="nav-item" role="presentation">

      <a class="nav-link" href="#titulo_info"><i class="bi bi-info-circle-fill"></i> Quiénes Somos </a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" href="#contacto"><i class="bi bi-chat-fill"></i> Contacto</a>


    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" href="{% url 'pedido:Menu_pagina_principal' %}"><i class="bi bi-door-closed-fill"></i>
        Menú</a>



    </li>


    {% comment %} <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Servicio De Viandas
      </a>
      <ul class="dropdown-menu" style="background-color: rgb(167, 167, 167) ;">
        <li><a class="dropdown-item" href="{% url 'pedido:listar_viandas' %}">Solicitar Vianda</a></li>

      </ul>
    </li> {% endcomment %}



    </li>



  </ul>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-inicio-tab">
    </div>




  </div>

  <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab"></div>
  </div>
  <div class="tab-pane fade " id="pills-menu" role="tabpanel" aria-labelledby="pills-menu-tab">




  </div>




  <div class="contenedor">


</header>


{%endblock %}




{% block content %}


<section>

  <div>
    <h2 id="novedades">Novedades</h2>
  </div>

  <div id="carousel1">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="https://images.pexels.com/photos/8402682/pexels-photo-8402682.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            class="img-fluid" alt="...">
        </div>
        <div class="carousel-item">
          <img
            src="https://images.pexels.com/photos/262959/pexels-photo-262959.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img
            src="https://images.pexels.com/photos/11975902/pexels-photo-11975902.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
      </button>
    </div>






  </div>




</section>






<section class="contenedor_info">



  <div>
    <h2 id="titulo_info">Quiénes somos</h2>
  </div>

  <div class="texto_info"><span> <b> El Mejor Sabor </b> es una empresa familiar destacándose en el rubro
      gastronómico por la elaboración de comidas caseras. Tiene como prioridad fundamental la calidad y el
      control permanente de sus productos, la atención personalizada y los bajos precios.

      <br>
      Nuestros platos se elaboran al momento de ser solicitados, lo que garantiza calidad y sabores
      inigualables


      <br> <br>
      Tómate tu tiempo para mirar nuestro Menu en línea interactivo y pide cuando estés listo. Nos tomamos
      aproximadamente unos minuto en confirmar tu pedido y darte un tiempo estimado para que esté listo.



    </span>


  </div>


</section>


<section id="contacto">
  <h2>NUESTROS DATOS</h2>

  <div class="texto_contacto">

    <div class="direccion"><Strong> </Strong>Dirección: Sarmiento 683, San Fernando del Valle de Catamarca Argentina
    </div>
    <br>
    <div><strong> Teléfonos: </strong> 54 383 442-6185</div>
    <br>

    <div><strong> Celular: </strong>54 383 465-3630</div>
    <br>

    <div><strong> Email:</strong> Elmejorsabor@gmail.com</div>
    <br>

    <div><strong> Horario De Atencion: </strong> Lu. a Sab. de 10 a 15 y de 18 a 22 hs</div>


  </div>


</section>


{% if messages %}
{% for message in messages %}
<script>
  alert("{{message}}");
</script>
{% endfor %}
{% endif %}
{% endblock %}