{% extends 'base/base.html' %} {% load static %}


{% if messages %}
{% for message in messages %}
<script>
    alert("{{message}}");
</script>
{% endfor %}
{% endif %}


{% block title%}Inicio Administrador{%endblock %}


{% block header%}

<h1 class="titulo_pagina">Gestion De Personal</h1>
<div id="imagen_admin"> <img src="{%static  '/img/admin.png'%}" alt="admin"> </div>


{%endblock %}


{% block content %}


{%endblock %}