{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="rotiseria" />

    <title>Menu</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">



    <link rel="stylesheet" href="{%static '/css/styles.css' %}">
    <link rel="stylesheet" href="{%static  '/css/styles_index.css' %}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />


    <script src="{% static 'js/scripts.js' %}"></script>





    <style>
        .nav-link,
        .usuario {
            color: #0D6EFD !important;
        }
    </style>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light  sticky-top" style="background-color: #212529 ;">
        <div class="container px-2 px-lg-2">

            <a class="navbar-logo" href="/">
                <img class="img-fluid " id="logo_rotiseria" src="{%static  '/img/logoblanco.png'%}" width="50%"
                    heigth="50%" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"
                            href="{% url 'pedido:Menu_pagina_principal' %}"></span>
                            Menu
                        </a>
                    </li>

                    <div class="dropdown show">
                        <a class="nav-link dropdown-toggle text-dark" href="#" role="button" id="dropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Menues Disponibles
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            {% for tipo_menu in tipo_de_menues %}
                            <a class="dropdown-item"
                                href="{% url 'pedido:menuxCategoria' tipo_menu.id %}">{{tipo_menu.nombre}}</a>
                            {% endfor %}
                        </div>
                    </div>






                    {% if user.is_authenticated  and user.is_superuser%}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'pedido:tipo_plato' %}">
                            Listado Platos
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'pedido:tipo_menu' %}">
                            Listado Tipo Menu
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'pedido:listarMenues' %}">
                            Menues
                        </a>
                    </li>






                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/inicio_admin">
                            Personas
                        </a>
                    </li>


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Pedidos
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            {% comment %} <a class="dropdown-item" href="#">Registrar pedido</a> {% endcomment %}
                            <a class="dropdown-item" href="{% url 'pedido:estadisticas' %}">Estadisticas</a>
                            <a class="dropdown-item" href="{% url 'pedido:todos_los_pedido_lista' %}">Estado de
                                pedidos</a>

                        </div>
                    </li>


                    {% else %}
                    {% if user.is_authenticated%}

                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page"
                                href="{% url 'pedido:listar_pedidos_clientes' %}"></span>
                                Mis Pedidos
                            </a>
                        </li>
                    {% endif %}
                    {% endif %}

                </ul>



                <ul class="navbar-nav d-flex ml-auto mb-2 mb-lg-0 ms-lg-4">
                    {% if user.is_authenticated %}
                    {% load humanize %}
                    <div class="d-flex">
                        <a href="{% url 'pedido:viewcart' %}" class="btn btn-outline-dark">
                            <i class="bi-cart-fill me-1"></i>
                            <span class="badge bg-dark text-white ms-1 rounded-pill">$.
                                {{ importe_total_carro | intcomma }}</span>
                        </a>
                    </div>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <div class="boton_login"> <span class="usuario  btn btn-ligth"> @{{ user.username }}&nbsp;&nbsp;<a
                                href="{% url 'usuario:logout' %}"><i class="bi bi-door-open-fill"></i> Cerrar Sesión</a>
                        </span></div>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'usuario:login' %}">
                            Ingresar
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'usuario:registro' %}">
                            Registrar
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <section class="container">
        {% block content%} {% endblock %}
    </section>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous">
    </script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


</body>
{% if messages %}
{% for message in messages %}
<script>
    alert("{{message}}");
</script>
{% endfor %}
{% endif %}

</html>