body {

    background-image: url('https://img.freepik.com/fotos-premium/cocinar-concepto-alimentos-especias-hierbas-aceite-preparar-cena-tabla-cortar_136595-4657.jpg?w=900');
  
    background-size: cover;
  
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
  
    
  
  
  }