body {

  background-image: url('https://img.freepik.com/fotos-premium/comida-italiana-ingredientes_1220-4676.jpg?w=1380');

  background-size: cover;

  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;

  color: white;


  margin: 0px auto;
  text-align: center;

}



.contenedor {


  height: 100px;
  width: 800px;

}