body {

    background-image: url('https://irp-cdn.multiscreensite.com/12c646ff/DESKTOP/jpg/2038236-banner-sabores-d3d94.jpg');

    background-size: cover;

    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;


    color: black;

}