body {

    background-image: url('/static/img/mis_viandas.jpg');

    background-size: cover;

    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;



}


h1 {

    text-align: center;

    color: rgb(28, 176, 23);
}


#tabla {

    color: rgb(197, 253, 255);

    background-color: rgba(18, 164, 4, 0.833);

}