.orden_Compra {



    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: rgb(255, 196, 0) 5px outset;

}


.contenedor_orden {

    position: relative;


}