.formulario_vianda {

  background-color: rgb(25, 25, 25);

  width: 50%;
  height: 50%;
  margin-top: 5px;
  margin-left: 15px;


}



.sub_h4 {

  color: rgb(12, 43, 83);
  color: radial-gradient(circle, rgba(12, 43, 83, 1) 0%, rgba(69, 82, 172, 1) 30%, rgba(7, 24, 145, 1) 43%, rgba(96, 105, 231, 1) 64%);

}