.container_btn {
  display: grid;
  grid-template-columns: 1fr 1fr;

  position: relative;
  transform: translate(-50%, -50%);
  transition: all 1s;
  width: 50px;
  height: 50px;
  background: #648624;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid #B1B2CF;
  padding: 5px;
  box-shadow: 0px 0px 15px #611212;


}



#bton_ingreso {

  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1b50b9;
  border-radius: 25px;
  transition: all 1s;




}

.boton_ingresar {
  color: rgb(31, 71, 51);
  position: relative;

  transform: translate(-50%, -50%);
  font-size: 1.5em;
  width: 100%;
  margin: auto;
  transition: all 1s;
  opacity: 0;
}




.tag_ingresar {
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  color: #ae2b2b;
  text-align: center;
  font-size: 1.2em;
  transition: all 1s;


}




#bton_ingreso:hover i {

  transform: rotate(360deg);

}




#bton_ingreso:hover {
  width: 145px;

  cursor: pointer;
}




#bton_ingreso:hover h1 {

  animation: 2s display forwards;
}



@keyframes display {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}






.css-button-sliding-to-top--sky {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #fff;
  overflow: hidden;
  border: 2px solid #4433ff;
  color: #4433ff;
}

.css-button-sliding-to-top--sky:hover {
  color: #fff;
}

.css-button-sliding-to-top--sky:hover:after {
  height: 100%;
}

.css-button-sliding-to-top--sky:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background: #4433ff;
}