.formulario {
  padding: 10px;
  margin: 10px;
}

table,
th,
td {
  border: 2px solid;
  color: darkgray;
}

.leyenda {
  padding: 10px;
  color: darkgray;
}

input {
  border-radius: 50px;

  border: none;
  outline: 0;
  background-color: darkgray;
  margin: 10px;


}


#vaciar-carrito {


  background-color: rgb(252, 0, 0);


}

.titulo_pagina {

  color: darkgray;


}


.ingreso_dato {
  margin: 10px;
}

.container-fluid {
  background-color: darkgray;
}

#zona_entrega {
  border-radius: 50px;
  color: darkgray;
}

body {
  font-family: "Roboto", sans-serif;


}

#tipo-de-menu {
  border-radius: 50px;
  background-color: darkgray;
}

#tipo-de-plato {
  border-radius: 50px;
  background-color: darkgray;
}



h1 {
  text-align: center;
  font-family: Tahoma;
}

label,
legend,
a,
span,
h2,
h5,
h6 {
  font-family: Tahoma;
}

div h5 {
  color: black
}

div p {
  color: black
}

#imagen_menu img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

#imagen_menu {
  height: 100px;
  width: 100px;
}

#foto_delivery img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

#foto_delivery {
  height: 100px;
  width: 100px;
}

#photo_estadistica img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

#photo_estadistica {
  height: 100px;
  width: 100px;
}

#imagen_cliente img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

#imagen_cliente {
  margin: 10px;
  height: 100px;
  width: 100px;
}

#logo_rotiseria img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

#logo_rotiseria {



  height: 75px;
  width: 75px;


  float: left;

}



#dropdown01 {
  margin-top: 10px;


}

.dropdown-menu {
  height: 15em;
  line-height: 1em;
  overflow-x: hidden;
  overflow-y: scroll;
  width: auto;
  border: 1px solid;



}

.card-body,
.font-weight-bold,
.card-header {
  color: white;

  background-color: rgb(0, 0, 0);
}

#contenedor_cadete {
  display: none;
}

.texto_imagen {
  margin-top: 30px;

  text-align: center;

  font-weight: normal;
  font-size: 48px;

  font-family: 'Montserrat', sans-serif;
  color: rgb(255, 255, 255);



}


.container {


  margin-left: 20px;
}




.carousel-inner img {
  width: 100%;
  height: 100%;
  max-height: 500px;


}

.carousel-inner {
  height: auto;
}



.contenedor_info {



  background-image: url(https://fotografias.antena3.com/clipping/cmsimages01/2020/11/11/4E50EB44-C38A-4BAD-8B66-9DB7CC849875/97.jpg?crop=7635,4295,x0,y730&width=1600&height=900&optimize=low&format=webply);


  height: 100vh;
  min-height: 500px;

  max-width: 100%;




  background-position: center center;
  background-repeat: no-repeat;

  background-size: cover;


}



.texto_info {


  margin-top: 100px;

  text-align: center;

  font-weight: normal;


  font-size: 2vw;


  font-family: 'Montserrat', sans-serif;
  color: rgb(255, 255, 255);


}



.logo_banner {


  height: 50px;
  width: 50px;

  margin: 0;


  border-radius: 10px;




}




#titulo_info,
#novedades,
#titulo_pedidos_pendientes {



  font-size: 4vw;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: rgb(255, 255, 255);

}



#contacto {

  color: darkgray;

  margin: 20px;
  padding: 20px;
  flex-wrap: wrap;

}

header,
.alert {
  z-index: 100;
}

.description {
  height: 25px;
  overflow: hidden;
  transition: height .3s ease-in .3s;
}

.description:hover {
  height: 80px;
}

.carrito {
  min-height: 80vh;
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
}

.table__productos {
  display: flex;
}

.table__productos>img {
  width: 9rem;
  object-fit: contain;
  border-radius: 6px;
  margin-right: 20px;
}

.table__cantidad>input {
  width: 40px;
  border: none;
  outline: 0;
  font-size: 16px;
  font-weight: 700;
  margin-right: 30px;
  margin-bottom: 20px;
}

.hide,
.remove {
  display: none;
}


#fondo_vista_admin {





  width: 100%;
  height: 100%;

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;




}









#imagen_admin img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

#imagen_admin {
  height: 100px;
  width: 100px;

}



.contenedor {


  position: fixed;


  top: 20px;

  right: 60px;


}


.imagen_fondo {

  background-image: url(https://irp-cdn.multiscreensite.com/12c646ff/DESKTOP/jpg/2038236-banner-sabores-d3d94.jpg);

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;


}