body {

  background-image: url(http://nutrisabor.com.ar/images/slider/2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;



  color: rgb(237, 237, 237);
}