{% load static %}

{% load crispy_forms_tags %}



<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous">
    </script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static  '/css/login.css' %}">
    <title>Registro</title>
</head>

<body>
    <div class="registro">
        <h1>Registro de Usuario</h1>



        <form action="" method="post">
            {% csrf_token %}

            {{form | crispy}}
            <h2>
                <span class="textoForm">Datos personales</span>
            </h2>

            {{formC | crispy}}





            <div class="text-center">
                <button class="btn btn-primary btn-lg btn-sm" id="submitButton" type="submit">Guardar</button>
                <a href="{% url 'usuario:login' %}" class="btn btn-warning btn-sm">Loguearse</a>
            </div>

        </form>

    </div>




</body>

</html>