{% extends 'base/menu_rotiseria.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% block title %}
Asignar Repartidor
{% endblock %}


{% block head %}

{% endblock %}
{% block content %}

<fieldset>
    <legend class="leyenda"> Editar Datos</legend>
    <section>

        <form action="{% url 'pedido:asignarRepartidor' id %}" method="post" enctype="multipart/form-data" class="formulario">
            {% csrf_token %}


<!-- 
            <label for="{{form.repartidor.id_for_label}}">Repartidor: </label>
            {{form}} -->


            <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
                    <div class="mb-3">
                        {% if field.error %}
                        <span class="textoForm">
                            {{ field.errors }}
                        </span>
                        {% endif %}


                        <!-- <label for="{{form.cliente.id_for_label}}">Cliente: </label>
                        {{form.cliente}}


                        <label for="{{form.fechaPedido.id_for_label}}">Fecha De Pedido: </label>
                        {{form.fechaPedido}}




                        <label for="{{form.horaEntrega.id_for_label}}">Hora De Entrega Del Pedido: </label>
                        {{form.horaEntrega}}


                        <label for="{{form.TipoEntrega.id_for_label}}">Tipo De Entrega: </label>
                        {{form.TipoEntrega}}



                        <label for="{{form.repartidor.id_for_label}}">Repartidor: </label>
                        {{form.repartidor}} -->
                            {{form | crispy}}

                            <br>

                        <button class="btn btn-primary btn-lg" id="submitButton" type="submit">Designar</button>
                        <a class="btn btn-danger btn-lg" href="{% url 'pedido:todos_los_pedido_lista'%}">Volver</a>
            





                    </div>
                </div>
                <div class="col-3"></div>
            </div>

        

            <div>
                <br>


                
             
                


        </form>
    </section>
</fieldset>



{% endblock %}