{% extends 'base/menu_rotiseria.html' %}

{% load static %}

{% block title %}
Estado de pedidos
{% endblock %}
{% block head %}



{% endblock %}
{% block content %}
<div>
    <div class="image-aboutus-banner fondo">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <h1 class="lg-text titulos">
                            {% if user.is_staff %}
                            Listado de pedidos
                            {% else %}
                            Mis pedidos
                            {% endif %}
                        </h1>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="paddingTB60"
        style="background-image: url({% static 'img/form-difuminado.png' %});background-repeat: no-repeat;background-size: cover;background-position:center;overflow: hidden;">
        <div class="container" id="listaPedidos">
            {% for pedido in pedidos %}
            <ul class="list-group list-group-horizontal">
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex w-60 justify-content-between">
                        <h5 class="mb-1">{{pedido.cliente.nombre}} {{pedido.cliente.apellido}}</h5>
                        <small class="text-muted">{{pedido.fechaPedido}}</small>

                    </div>
                    <div class="d-flex w-60 justify-content-between">
                        <p class="mb-1">
                            {% if pedido.menu.all.count == 1 %}


                            {% for plato in pedido.menu.all %}
                            {{plato.nombre}}
                            {% endfor %}
                            {% else %}
                            {% for plato in pedido.menu.all %}
                            {{plato.nombre}},
                            {% endfor %}
                            {% endif %}
                        </p>
                        <small class="text-muted">Tiempo de entrega estimado</small>
                    </div>
                    <div class="d-flex w-60 justify-content-between">
                        <small class="text-muted">{{pedido.TipoEntrega.tipoEntrega}}</small>
                        <small class="text-muted">{{pedido.horaEntrega}}</small>
                    </div>
                </a>
                <li class="list-group-item">
                    {% if user.is_staff %}
                    <form method="post" action="{% url 'pedido:cambiarEstadoPedidoyComentar' pedido.id %}">
                        <div class="text-center">
                            {% csrf_token %}
                            <select name="estadoPedido" class="selectpicker form-select">
                                {% for valor,texto in form.fields.estadoPedido.choices %}
                                {% if valor == pedido.Estado.id %}
                                <option value="{{valor}}" selected>{{texto}}</option>
                                {% else %}
                                <option value="{{valor}}">{{texto}}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                            {% if pedido.comentario is None %}
                            <input type="text" name="comentario" maxlength="500" required value="" id="id_comentario">
                            {% else %}
                            <input type="text" name="comentario" maxlength="500" required value="{{pedido.comentario}}"
                                id="id_comentario">
                            {% endif %}


                            <button type="submit" class="btn btn-primary pl-2" id="guardarEstadoPedido">Guardar</button>
                        </div>
                    </form>
                    {% else %}
                    <div class="text-center">
                        {% csrf_token %}
                        <select name="estadoPedido" class="selectpicker form-select" disabled>
                            {% for valor,texto in form.fields.estadoPedido.choices %}
                            {% if valor == pedido.Estado.id %}
                            <option value="{{valor}}" selected>{{texto}}</option>
                            {% else %}
                            <option value="{{valor}}">{{texto}}</option>
                            {% endif %}
                            {% endfor %}




                        </select>
                        {% endif %}




                        {% comment %} INPUT QUE MUESTRE EL CADETE Y UN BOTON QUE LLEVE A OTRA PAGINA COMO EL MODIFICAR
                        PERO QUE SOLO SE CAMBIE EL APARTADO CADETE DEL PEDIDO {% endcomment %}



                        <label class="textoForm" for="repartidor_nombre">Repartidor</label>

                        <input type="text" name="repartidor_nombre" class="form-control" required id="repartidor_nombre"
                            value="{{pedido.repartidor}} " disabled>

                            {% if user.is_authenticated  and user.is_superuser%}
                        <a class="btn btn-warning btn-sm " id="submitButton" type="submit"
                            href=" {% url 'pedido:asignarRepartidor' pedido.id %}">Designar Repartidor</a>

                            {% endif%}






            </ul>
            {% endfor %}
        </div>
    </div>
</div>

{% comment %} <script src="{% static 'js/estadoPedidos.js' %}" type="text/javascript"></script> {% endcomment %}
{% endblock %}-