{% extends 'base/menu_rotiseria.html' %}

{% load static %}

{% block title %}
Estadísticas
{% endblock %}

{% block head %}




{% endblock %}



{% block content %}
<div class="container-fluid  " style="background-color:  rgb(255, 255, 255);">
    <br><br>
    <div id="listadoVentas">
        <h2>
            <span class="textoForm"> Pedidos diarios</span>
        </h2>
        <form method="POST" name="listarVentasDiarias" action="{% url 'pedido:listar_pedidos_por_fecha' %}">
            {% csrf_token %}
            <div class="row">
                <div class="col-3">
                    <label class="form-label textoForm" class="textoForm">{{formPedidos.Fecha_desde.label}}</label>
                    {{formPedidos.Fecha_desde}}
                </div>
                <div class="col-3">
                    <label class="form-label textoForm" class="textoForm">{{formPedidos.Fecha_hasta.label}}</label>
                    {{formPedidos.Fecha_hasta}}
                </div>
                <div class="col-4">
                    <input type="submit" class="btn btn-primary" value="Visualizar">
                </div>
            </div>
        </form>
        {% if pedidos is None %}
        {% else %}
        <div class="text-center col-12 my-3">
            <table class="table-primary table-bordered border-light table-hover textoForm bg-dark">
                <thead>
                    <tr>
                        <th scope="col">Codigo</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Horario de entrega</th>
                        <th scope="col">Tipo de entrega</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Menu</th>
                        {% comment %} <th scope="col">Cadete a cargo</th> {% endcomment %}
                    </tr>
                </thead>

                <tbody>
                    {% for pedido in pedidos %}
                    <tr>
                        <th scope="row">{{pedido.id}}</th>
                        <td> {{pedido.cliente.apellido}} {{pedido.cliente.nombre}}</td>
                        <td>{{pedido.fechaPedido}}</td>
                        <td>{{pedido.horaEntrega}} </td>
                        <td>{{pedido.TipoEntrega.tipoEntrega}}</td>
                        <td>{{pedido.Estado.estadoPedido}}</td>
                        <td>
                            <ul>
                                {% for menu in pedido.menu.all %}
                                <li>
                                    {{menu.nombre}}
                                </li>
                                {% endfor %}
                            </ul>
                        </td>
                        {% comment %} <td>{{pedido.Cadete.nombre}} {{pedido.Cadete.apellido}}</td> {% endcomment %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}



    </div>
    <br>
    <hr class="featurette-divider">
    {% comment %} <div id="listadoCantidadesPorCadete">
        <h2>
            <span class="textoForm">Listado de cantidades entregadas por el cadete</span>
        </h2>
        <form method="POST" name="listarCantidadEntregadaPorCadete"
            action="{% url 'Estadisticas:ListarCantidadesEntregadasPorCadete' %}">
            {% csrf_token %}
            <div class="row">
                <div class="col-2">
                    <label class="form-label textoForm" class="textoForm">{{formCadete.Cadete.label}}</label>
                    {{formCadete.Cadete}}
                </div>
                <div class="col-3">
                    <label class="form-label textoForm" class="textoForm">{{formCadete.Fecha_desde.label}}</label>
                    {{formCadete.Fecha_desde}}
                </div>
                <div class="col-3">
                    <label class="form-label textoForm" class="textoForm">{{formCadete.Fecha_hasta.label}}</label>
                    {{formCadete.Fecha_hasta}}
                </div>
                <div class="col-4">
                    <input type="submit" class="btn btn-primary" value="Visualizar">
                </div>
            </div>
        </form>
        {% if pedidoCadete is None %}
        {% else %}
        <div class="text-center col-12 my-3">
            <table class="table-primary table-bordered border-light table-hover textoForm bg-dark">
                <thead>
                    <tr>
                        <th scope="col">CUIL</th>
                        <th scope="col">Cadete</th>
                        <th scope="col">Cantidades entregadas</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <th scope="row">{{pedidoCadete.0}}</th>
                        <td>{{pedidoCadete.1}}</td>
                        <td>{{pedidoCadete.2}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        {% endif %}

    </div>
    <br>
    <hr class="featurette-divider"> {% endcomment %}





    <div id="listadoMenu">
        <h2>
            <span class="textoForm"> Menues más solicitados</span>
        </h2>
        <form method="POST" name="listarMenu" action="{% url 'pedido:ListarMenuesSolicitados' %}">
            {% csrf_token %}
            <div class="row">
                <div class="col-3">
                    <label class="form-label textoForm" class="textoForm">{{formMenus.Fecha_desde.label}}</label>
                    {{formMenus.Fecha_desde}}
                </div>
                <div class="col-3">
                    <label class="form-label textoForm" class="textoForm">{{formMenus.Fecha_hasta.label}}</label>
                    {{formMenus.Fecha_hasta}}
                </div>
                <div class="col-4">
                    <input type="submit" class="btn btn-primary" value="Visualizar">
                </div>
            </div>
        </form>
        {% if menuesSolicitados is None %}
        {% else %}
        <div class="text-center col-12 my-3">
            <table class="table-primary table-bordered border-light table-hover textoForm bg-dark">
                <thead>
                    <tr>
                        <th scope="col">Codigo</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Tipo de menu</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Menu</th>
                        <th scope="col">Cantidad solicitada</th>
                    </tr>
                </thead>

                <tbody>
                    {% for menu in menuesSolicitados %}
                    <tr>
                        <th scope="row">{{menu.0}}</th>
                        <td>{{menu.1}}</td>
                        <td>{{menu.2}}</td>
                        <td>${{menu.3}}</td>
                        <td>{{menu.4}}</td>
                        <td>{{menu.5}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}

    </div>
    <br>


    <br><br><br>
</div>

{% endblock %}