{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">



    <link rel="stylesheet" href="{%static  '/css/bootstrap.min.css'%}">



    <link rel="icon" href="{%static  '/img/logo_rotiseria.png'%}">





    <script type="text/javascript" src="{%static 'js/popper.min.js'%}"> </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous">
    </script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">


    <script type="text/javascript" src="{%static 'js/popper.min.js'%}"> </script>

    {% comment %} <script src="/js/popper.min.js"></script> {% endcomment %}



    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">


    <link rel="stylesheet" href=" {%static '/css/sweetalert2.min.css'%}">
    <link rel="stylesheet" href=" {%static '/css/styles.css'%} ">

    <title>Menu</title>
</head>

<body>

    <header>

        <div class="container">
            <div class="row align-items-stretch justify-content-between">
                <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">




                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav mr-auto">
                            <ul class="nav nav-pills mb-3 py-3 container" id="pills-tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link active" href="{% url 'inicio' %}">Inicio</a>
                                </li>

                            </ul>
                            <li class="nav-item dropdown">

                                <img src=" {%static '/img/cart.jpeg'%}" class="btn btn-primary" height="50px"
                                    width="60px" href="#collapseExample" id="dropdown01" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false"></img>




                                <div id="carrito" class="dropdown-menu" aria-labelledby="navbarCollapse">

                                    <table id="lista-carrito" class="table">
                                        <thead>
                                            <tr>
                                                <th>Imagen</th>
                                                <th>Nombre</th>
                                                <th>Precio</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>

                                    <a href="#" id="vaciar-carrito" class="btn btn-primary btn-block">Vaciar Carrito</a>
                                    <a href="#" id="procesar-pedido" class="btn btn-success btn-block">Procesar
                                        Compra</a>

                                 
                                </div>
                            </li>
                        </ul>



                        <div id="logo_rotiseria"><img src="{%static  '/img/logoblanco.png'%}"
                                alt="logo de la rotiseria"></div>
                    </div>
                </nav>
            </div>
        </div>










        <div class="imagen_fondo">
            <main>
                <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 my-4 mx-auto text-center">



                    <h1 class="texto_imagen">Mil Sabores En Un Solo Lugar</h1>
                    <p class="lead"></p>


                    <div class="container" id="lista-productos">
                       
                    </div>
                </div>
            </main>
        </div>


        <script type="text/javascript" src="{%static 'js/jquery-3.4.1.min.js'%}"> </script>
        <script type="text/javascript" src="{%static 'js/bootstrap.min.js'%}"> </script>
        <script type="text/javascript" src="{%static 'js/sweetalert2.min.js'%}"> </script>
        <script type="text/javascript" src="{%static 'js/carrito.js'%}"> </script>
        <script type="text/javascript" src="{%static 'js/pedido.js'%}"> </script>


</body>

</html>