{% extends "base/menu_rotiseria.html" %} {% load static %} {% block content %}


{% if messages %} {% for message in messages %}
<script>
    Swal.fire({
        "title": "Felicitaciones!!",
        "text": "{{ message }}",
        "icon": "success"
    })
</script>
{% endfor %} {% endif %}






<div class="min-vh-100 d-flex flex-colum pb-3">
    <div class="container">







        <link rel="stylesheet" href="{%static  '/css/menu.css' %}">

        <div class="pt-3">
            <form class="d-flex d-md-inlne-block form-inline justify-content-end" method="POST" action="">
                {% csrf_token %}
                <div class="input-group">
                    <input type="text" class="form-control bg-light border-1 small text-center" name="buscador"
                        placeholder="buscar..." value="{{ request.POST.buscador }}">
                    <div class="input-group-append">
                        <button class="btn btn-danger mx-1" type="submit">
                            <i class="bi bi-search bi-sm"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <section class="py-2">
            <div class="container px-4 px-lg-5 mt-2 animate__animated animate__fadeIn animate__delay-0.3s">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% if entity %} {% for menu in entity %}
                    <div class="col my-3">
                        <div class="card h-100 text-center py-3">

                            {% if menu.imagen %}
                            <img class="mx-auto d-block img-fluid" src="{{menu.imagen.url}}" alt="menu"
                                width="300px%" />
                            {% else %}
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg"
                                alt="sinImagen" /> {% endif %}

                            {% load humanize %}
                            <div class="card-body p-3" style="background-color: white; color:black">
                                <div class="text-center">

                                    <h5 class="fw-bolder">{{ menu.nombre }}</h5>

                                    $. {{ menu.precio | intcomma }}
                                </div>
                            </div>

                            <div class="card-footer p-2 pt-2 border-top-0 bg-transparent">
                                <div class="text-center">
                                    {% comment %} <a class="btn btn-dark mt-auto"
                                        href="{% url 'pedido:detalleMenu' menu.id %}">Ver detalle</a> {% endcomment %}
                                    {% if user.is_authenticated%}
                                    <a href="{% url 'pedido:agregar_Menu' menu.id %}" class="btn btn-danger mt-2"
                                        type="button">
                                        <i class="bi-cart-fill me-1"></i> Agregar al Carrito
                                    </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %} {% else %}
                    <div class="text-center text-warning">
                        <h3> No se encontraron menus!!</h3>
                    </div>
                    {% endif %}
                </div>

                <div>
                    {% include 'pedido/paginator.html' %}
                </div>
            </div>

        </section>
    </div>
</div>
{% endblock %}