{% extends 'base_index.html' %} {% load static %}
{% block title%}Mis Viandas{%endblock %}


{% block header%}<h1 class="titulo_pagina">Mis Viandas</h1>
<link rel="stylesheet" href="{%static  '/css/mis_viandas.css' %}">

{% endblock %}

{% block content %}

{% if messages %}
{% for message in messages %}
{% if message.tags == 'success' %}
<div class="message" role="status">{{ message }}</div>{% endif %}
{% if message.tags == 'error' %}
<div class="errors" role="alert">{{ message }}</div>{% endif %}
{% endfor %}
{% endif %}

<div class="container">

    <div class="table-responsive-lg">
        <table id="tabla" class=" table-hover; table table-bordered  table-sm  align-middle">
            <thead>
                <tr>
                    <th scope="col-3">Frecuencia</th>
                    <th scope="col-4">Tipo De Menu</th>
                    <th scope="col">Entrada</th>
                    <th scope="col">Principal</th>
                    <th scope="col">Postre</th>
                    <th scope="col">Fecha De inicio</th>
                    <th scope="col">Vigente</th>

                    <th scope="col">Opcion</th>

                </tr>
            </thead>
            <tbody>
                {% for vianda in viandas %}

                <tr>
                    <td scope="row">{{vianda.frecuencia}}</td>
                    <td scope="row">{{vianda.tipo_menu}}</td>
                    <td scope="row">{{vianda.entrada}}</td>
                    <td scope="row">{{vianda.principal}}</td>
                    <td scope="row">{{vianda.postre}}</td>
                    <td scope="row">{{vianda.fecha_inicio}}</td>
                    <td scope="row">{{vianda.vigente}}</td>

                    <td scope="row">






                    </td>




                </tr>


                {% endfor %}
            </tbody>
        </table>


        <a class="btn btn-warning btn-sm" href=" {% url 'inicio' %} ">Volver</a>


    </div>
</div>
{% endblock %}