{% extends 'base/base.html' %} {% load static %}


{% block title%}Editar Menu{%endblock %}



{% block header%}

<h1 class="titulo_pagina">Editar menu</h1>

<div id="imagen_menu"> <img src="{%static  '/img/menu.png'%}" alt="Foto menu generico"> </div>

{%endblock %}

{% block content%}




<fieldset>

    <legend class="leyenda"> Datos Del Menu</legend>

    <form class="row " action="#" method="POST" id="formulario">


        {% csrf_token %}

        {{menu.as_p }}

        <div>
            <button type="submit" class="btn btn-success">Guardar</button>
            <button type="reset" class="btn btn-danger">Cancelar</button>
        </div>
        < </form> </fieldset> {% endblock %}