{% extends 'base_index.html'%}


{% load static %}

{% block title%}Editar Vianda{%endblock %}




{% block header%}
<link rel="stylesheet" href="{%static '/css/styles.css' %}">
<link rel="stylesheet" href="{%static  '/css/styles_index.css' %}">
<link rel="stylesheet" href="{%static  '/css/estilo_inicio_cliente.css' %}">
<link rel="stylesheet" href="{%static  '/css/registro_viandas.css' %}">


<div id="logo_rotiseria"><img src="{%static  '/img/logoblanco.png'%}" alt="logo de la rotiseria"></div>



{%endblock %}


{% block content %}



<h1 class="titulo_pagina">Solicitud De Vianda</h1>



<br>

<div class=" formulario_vianda ">

  <fieldset>

    <legend class="leyenda"> Complete Los Siguientes Datos</legend>


    <form class="formulario" action="#" method="post">

      {% csrf_token %}



      {{vianda.as_p }}





      <div>
        <button type="submit" class="btn btn-success">Guardar</button>
        <button type="reset" class="btn btn-danger" onclick="history.back()">Cancelar</button>

      </div>

    </form>






  </fieldset>


</div>
{%endblock %}