{% extends 'base/menu_rotiseria.html' %}

{% load static %}

{% block title %}
Pedido Del Cliente
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{%static  '/css/menu.css' %}" {% endblock %} {% block content  %} <section>

<div class="text-center textoForm">
    <h1>Detalles del pedido</h1>

</div>

<form id="registrarPedidoCliente" method="POST" action="{% url 'pedido:pedidoCliente' %}">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="mb-3">


                <label class="textoForm" for="fecha_pedido">Fecha del pedido</label>
                <input type="text" name="fecha_pedido" disabled class="form-control" required id="fecha_pedido"
                    value="{{fechaActual}}">
            </div>
        </div>
        <div class="col-3"></div>
    </div>
    <div class="row">
        <div class="col-3"></div>

        <div class="col-6">
            <div class="mb-3">
                <label class="textoForm" for="hora_entrega">Hora estimada de entrega</label>
                <input type="text" name="hora_entrega" disabled class="form-control" required id="hora_entrega"
                    value="{{horaEntrega}}">
            </div>
        </div>
        <div class="col-3"></div>
    </div>
    {% csrf_token %}



    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="mb-3">


                <label for="{{form.TipoEntrega.id_for_label}}">Tipo De Entrega: </label>
                {{form.TipoEntrega}}






            </div>
        </div>
        <div class="col-3"></div>
    </div>


    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="mb-3">
                <label class="textoForm" for="id_menu">Menues seleccionados:</label>
                <select name="platos" readonly="" class="form-control" required="" id="id_menu" multiple="">
                    {% for key, value in request.session.carro.items %}
                    <option value="{{key}}">{{value.nombre}} - x {{value.cantidad}} - $ {{value.acumulado}}</option>
                    {% endfor %}

                </select>

            </div>
        </div>
        <div class="col-3"></div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="mb-3">
                <label class="textoForm" for="precio_total">Total a pagar:</label>
                <input type="text" name="precio_total" disabled class="form-control" required id="precio_total"
                    value="{{importe_total_carro}}">
            </div>
        </div>
        <div class="col-3"></div>
    </div>
    <script type="text/javascript">
        SelectTipoEntrega = document.getElementById("id_TipoEntrega");
        InputPrecioTotal = document.getElementById("precio_total");


        SelectTipoEntrega.addEventListener('change');
    </script>

    <hr>
    <div class="container px-5">
        <div class="text-center textoForm">
            <h1>Datos personales</h1>
        </div>

    </div>
    <div class="container px-5">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <div class="mb-3">
                    <label class="textoForm" for="nombre_persona">Nombre completo</label>
                    <input type="text" name="nombre_persona" disabled class="form-control" required id="nombre_persona"
                        value="{{cliente.nombre}} {{cliente.apellido}}">
                </div>
            </div>
            <div class="col-3"></div>
        </div>
        <div class="row">
           
            <div class="col-3"></div>
            <div class="col-6">
                <div class="mb-3">
                    <label class="textoForm" for="domicilio_persona">Domicilio</label>
                    <input type="text" name="domicilio_persona" disabled class="form-control" required
                        id="domicilio_persona"
                        value="{{cliente.calle}} N° {{cliente.numero}}, {{cliente.localidad}} {{cliente.departamento}}">
                </div>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="d-grid">
                <button class="btn btn-primary btn-lg" id="submitButton" type="submit">Confirmar pedido</button>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
</form>


</section>


{% endblock %}