{% extends 'base/menu_rotiseria.html' %}

{% load static %}

{% block title %}
Realizar pedido
{% endblock %}


{% block head %}

{% endblock %}
{% block content %}

<section>
    <div class=" " style="background-image: url({% static 'img/fondo_index_admin.png'%});">
        <div class="container px-5">
            <div class="text-center textoForm">
                <h1>Nuevo  Pedido</h1>
            </div>
        </div>
        <div class="container px-5">
            <form id="registrarPedido" method="post" action="{% url 'pedido:PedidoAdmin' %}">
                {% csrf_token %}


                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <div class="mb-3">
                            {% if field.error %}
                            <span class="textoForm">
                                {{ field.errors }}
                            </span>
                            {% endif %}


                            <label for="{{form.cliente.id_for_label}}">Cliente: </label>
                            {{form.cliente}}


                            <label for="{{form.fechaPedido.id_for_label}}">Fecha De Pedido: </label>
                            {{form.fechaPedido}}


                            <label for="{{form.horaEntrega.id_for_label}}">Hora De Entrega Del Pedido: </label>
                            {{form.horaEntrega}}


                            <label for="{{form.TipoEntrega.id_for_label}}">Tipo De Entrega: </label>
                            {{form.TipoEntrega}}










                        </div>
                    </div>
                    <div class="col-3"></div>
                </div>







                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <div class="mb-3">
                            <label class="textoForm" for="id_menu">Menues seleccionados:</label>
                            <select name="platos" readonly="" class="form-control" required="" id="id_menu" multiple="">



                                {% for key, value in request.session.carro.items %}

                                <option value="{{key}}">{{value.nombre}} - x {{value.cantidad}} - $ {{value.acumulado}}
                                </option>

                                {% endfor %}
                                {% comment %} {%if field.auto_id == "id_menu" %}
                                {% endif %} {% endcomment %}



                            </select>

                        </div>
                    </div>
                    <div class="col-3"></div>
                </div>
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <div class="mb-3">
                            <label class="textoForm" for="precio_total">Total a pagar:</label>
                            <input type="text" name="precio_total" disabled class="form-control" required
                                id="precio_total" value="{{importe_total_carro}}">
                        </div>
                    </div>
                    <div class="col-3"></div>
                </div>



                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4">
                        <div class="d-grid">
                            <button class="btn btn-primary btn-lg" id="submitButton" type="submit">Confirmar
                                pedido</button>
                        </div>
                    </div>
                    <div class="col-4"></div>
                </div>
            </form>
        </div>
    </div>

</section>


{% endblock %}