{% extends 'base/menu_rotiseria.html ' %} {% block content %}
<div class="min-vh-100 d-flex flex-colum py-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-6 col-sm-4 animate__animated animate__backInRight animate__delay-0.4s">
                <div class="card">
                    <div class="card-header text-center font-weight-bold">
                        {{ title }}
                    </div>
                    <div class="card-body  table-responsive">
                        <div class="d-flex justify-content-end mb-2 mx-2">


                            <a href="{% url 'pedido:addTipo_Menu' %}" class="btn btn-dark btn-sm pull-right"
                                type="submit">
                                Nuevo Tipo De Menu

                            </a>
                        </div>
                        <table class="table table-condensed">
                            <thead class="thead-dark">
                                <tr class="text-center">
                                    <th scope="col">#</th>
                                    <th scope="col">Nombre</th>
                                    <th colspan="2">Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% load bootstrap_icons %} {% if entity %} {% for tipo_menu in entity %}
                                <tr>
                                    <td>{{tipo_menu.id }}</td>
                                    <td>{{tipo_menu.nombre }}</td>

                                    <td colspan="2" class="text-center">
                                        <a class="btn btn-secondary btn-sm"
                                            href="{% url 'pedido:modificarTipo_Menu' tipo_menu.id %}" type="button"><i
                                                class="bi bi-pencil-square"></i></a>
                                        <a class="btn btn-danger btn-sm"
                                            href="{% url 'pedido:deleteTipo_Menu' tipo_menu.id %}" type="button"><i
                                                class="bi bi-trash-fill"></i></a>
                                    </td>
                                </tr>
                                {% endfor %} {% else %}
                                <div class="text-center text-warning">
                                    <h3> No se encontraron Tipos De Menus!!</h3>
                                </div>
                                {% endif %}
                            </tbody>
                        </table>
                        <div>
                            {% include 'pedido/paginator.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}