{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viandas</title>


    <link rel="icon" href="{%static '/img/logo_rotiseria.png' %}">


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous">
    </script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>




    <link rel="stylesheet" href="{%static '/css/vianda.css' %}">
    <link rel="stylesheet" href="{%static '/css/styles.css' %}">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel=" stylesheet " href=" https://use.fontawesome.com/releases/v5.3.1/css/all.css " integrity=" xxx "
        crossorigin=" anonymous ">




    <link rel="stylesheet" href="{%static  '/css/styles_index.css' %}">
</head>

<body>


    <header class="container-fluid bg-dark position-sticky top-0">




        <div id="logo_rotiseria"><img src="{%static  '/img/logoblanco.png'%}" alt="logo de la rotiseria"></div>


        <ul class="nav nav-pills mb-3 py-3 container" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">


                <a class="nav-link active" href="{% url 'inicio' %}">Inicio</a>
            </li>

            <li class="nav-item" role="presentation">
            </li>


            </li>


            </li>


        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-inicio-tab">
            </div>


            <!--
      <div class="tab-pane fade" id="pills-info" role="tabpanel" aria-labelledby="pills-info-tab "> -->


        </div>


        </div>


        <div class="contenedor">

            <div class="boton_ingresar"></div>
            <a href="" class="btn btn-success btn-sm"><i class="glyphicon glyphicon-user"></i> Ingresar</a>
        </div>
    </header>


    <section>
        <div class="container">
            {% for vianda in viandas %}
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Vianda {{vianda.tipo_plato}}</h5>
                    <h6 class="card-text">Entrada: {{vianda.entrada}}</h6>
                    <h6 class="card-text">Plato Principal: {{vianda.principal}}</h6>
                    <h6 class="card-title">Precio: {{vianda.precio}}</h6>
                    <h6 class="card-text">Postre: {{vianda.postre}}</h6>



                    <a href="{% url 'pedido:registro_vianda' vianda.id %}" class="btn btn-primary">Pedir</a>
                </div>
            </div>
            {% endfor %}

        </div>


    </section>


</body>

</html>