{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>INICIO</title>



    <link rel="icon" href="{% static '/img/logo_rotiseria.png' %}">



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous">
    </script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>











    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel=" stylesheet " href=" https://use.fontawesome.com/releases/v5.3.1/css/all.css " integrity=" xxx "
        crossorigin=" anonymous ">







</head>

<body>




    {% block header%}



    {% endblock %}


    {% block content %}

    {% endblock %}





    </section>
    <br>
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <span class="text-muted">&copy; 2022 El Mejor Sabor</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-2"><a class="text-muted" href="#">
                    <svg class="bi" width="24" height="24"><i class="bi bi-whatsapp"></i></svg>
                </a></li>
            <li class="ms-2"><a class="text-muted" href="#">
                    <svg class="bi" width="24" height="24"><i class="bi bi-twitter"></i></svg>
                </a></li>
            <li class="ms-2"><a class="text-muted" href="#">
                    <svg class="bi" width="24" height="24"><i class="bi bi-instagram"></i></svg>
                </a></li>
            <li class="ms-2"><a class="text-muted" href="#">
                    <svg class="bi" width="24" height="24"><i class="bi bi-facebook"></i></svg>
                </a></li>

        </ul>
    </footer>




</body>



{% if messages %}
{% for message in messages %}
<script>
    alert("{{message}}");
</script>
{% endfor %}
{% endif %}

</html>