{% extends 'base/base.html' %} {% load static %}
{% block title%}Cliente{%endblock %}


{% block header%}<h1 class="titulo_pagina">REGISTRO DE CLIENTE</h1>



<style type="text/css">
  label {
    color: white
  }
</style>




<div id="imagen_cliente">
  <img src="{%static  '/img/imagen_cliente.png'%}" alt="Foto cliente genericas" />
</div>{% endblock %}



{% block content %}
<fieldset>
  <legend class="leyenda">Datos Cliente</legend>

  <section>

    <form action="#" method=POST class="formulario">
      {% csrf_token %}



      {{form.as_p }}








      <button type="submit" class="btn btn-success">Guardar</button>
      <button type="reset" class="btn btn-danger">Cancelar</button>

    </form>
  </section>
</fieldset>

{% endblock %}




{% if messages %}
{% for message in messages %}
<div class="row">
  <div class="alert {% if message.tags == "success" %}alert-success {% else %}alert-danger{% endif %} alert-dismissible"
    role="alert">
    <button class="close" aria-label="close" data-dismiss="alert" type="button"><span
        aria-hidden="true">x</span></button>
    <p>{{ message|safe }}</p>
  </div>
</div>
{% endfor %}
{% endif %}