{% extends 'base/base.html' %} {% load static %}



{% block title%}Empleado{%endblock %}






{% block header%}
<style type="text/css">
    label {
        color: white
    }
</style>

<h1 class="titulo_pagina">REGISTRO DE EMPLEADO</h1>
<div id="foto_delivery"> <img src="{%static  '/img/delivery.png'%}" alt="Imagen delivery"> </div>

{%endblock %}



{% if messages %}
{% for message in messages %}
<div class="row">
    <div class="alert {% if message.tags == "success" %}alert-success {% else %}alert-danger{% endif %} alert-dismissible"
        role="alert">
        <button class="close" aria-label="close" data-dismiss="alert" type="button"><span
                aria-hidden="true">x</span></button>
        <p>{{ message|safe }}</p>
    </div>
</div>
{% endfor %}
{% endif %}

{% block content %}



<fieldset>
    <legend class="leyenda"> Datos De Empleado</legend>
    <section>

        <form action="#" method="post" enctype="multipart/form-data" class="formulario">
            {% csrf_token %}



            {{empleado.as_p }}

            <button type="submit" class="btn btn-success">Guardar</button>
            <button type="reset" class="btn btn-danger">Cancelar</button>



        </form>
    </section>
</fieldset>
<script type="text/javascript" src="{%static 'js/rotiseria.js'%}" defer> </script>
{%endblock %}