{% extends 'base/base.html' %} {% load static %}
{% block title%}Lista De Clientes{%endblock %}



{% block header%}<h1 class="titulo_pagina">Lista De Repartidores</h1>


{% endblock %}

{% block content %}

{% if messages %}
{% for message in messages %}
{% if message.tags == 'success' %} <div class="message" role="status">{{ message }}</div>{% endif %}
{% if message.tags == 'error' %} <div class="errors" role="alert">{{ message }}</div>{% endif %}
{% endfor %}
{% endif %}
<div class="container">

    <div class="table-responsive-lg">
        <table class="table-dark table-hover; table table-bordered  table-sm  align-middle">
            <thead>
                <tr>
                    <th scope="col-3">CUIT</th>
                    <th scope="col-3">Apellido</th>
                    <th scope="col-4">Nombre</th>
                    <th scope="col">Celular</th>
                    <th scope="col">Telefono Fijo</th>
                    <th scope="col">Calle</th>
                    <th scope="col">Numero</th>
                    <th scope="col">Localidad</th>
                    <th scope="col">Departamento</th>
                    <th scope="col">Observaciones</th>
                    <th scope="col">Fecha de ingreso</th>
                    <th scope="col">Vigencia Del Carnet</th>
                    <th scope="col">Patente</th>
                    <th scope="col">Zona</th>
                    <th scope="col">opciones</th>

                </tr>
            </thead>
            <tbody>
                {% for repartidor  in repartidores %}

                <tr>
                    <td scope="row">{{repartidor.CUIT}}</td>
                    <td scope="row">{{repartidor.apellido}}</td>
                    <td scope="row">{{repartidor.nombre}}</td>
                    <td scope="row">{{repartidor.celular}}</td>
                    <td scope="row">{{repartidor.telefono_fijo}}</td>
                    <td scope="row">{{repartidor.calle}}</td>
                    <td scope="row">{{repartidor.numero}}</td>
                    <td scope="row">{{repartidor.localidad}}</td>
                    <td scope="row">{{repartidor.departamento}}</td>
                    <td scope="row">{{repartidor.observaciones}}</td>
                    <td scope="row">{{repartidor.fecha_ingreso_trabajar}}</td>
                    <td scope="row">{{repartidor.vigencia_carnet}}</td>
                    <td scope="row">{{repartidor.patente}}</td>
                    <td scope="row">{{repartidor.zona}}</td>


                    <td scope="row">



                        <a class=" btn btn-info btn-sm" href="{% url 'persona:modificar_repartidor' repartidor.id %}"><i
                                class="bi bi-pencil-square"></i></a>

                        <a class="btn btn-danger btn-sm" href="{% url 'persona:eliminar_repartidor' repartidor.id  %} "
                            onclick="return confirm('¿Está seguro que desea eliminar el registro?')"><i
                                class="bi bi-trash2-fill"></i></a>
                    </td>




                </tr>


                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}