{% extends 'base/base.html' %} {% load static %}
{% block title%}Modifica Cliente{%endblock %}


{% block header%}<h1 class="titulo_pagina">Editar Datos</h1>

<div id="imagen_cliente">
  <img src="{%static  '/img/cliente.png'%}" alt="Foto cliente genericas" />



  <style>
    label {
      color: white !important;
    }
  </style>


</div>{% endblock %}




{% block content%}
<fieldset>
  <legend class="leyenda">Datos Cliente</legend>
  <section>
    <form class="row" action="#" method="POST" id="formulario">
      {% csrf_token %}
      {{form.as_p }}







      <div>
        <button type="submit" class="btn btn-success">Guardar</button>
        <button type="reset" class="btn btn-danger">Cancelar</button> </div>

    </form>
    <section>
</fieldset>

{% endblock %}