{% extends 'base/base.html' %} {% load static %}
{% block title%}Lista De Clientes{%endblock %}



{% block header%}

<h1 class="titulo_pagina">Editar Empleado</h1>
<div id="foto_delivery"> <img src="{%static  '/img/delivery.png'%}" alt="Imagen delivery"> </div>

<style>
  label {
    color: white !important;
  }
</style>

{%endblock %}


{% block content%}
<fieldset>
  <legend class="leyenda"> Editar Datos</legend>
  <section>

    <form action="#" method="post" enctype="multipart/form-data" class="formulario">
      {% csrf_token %}



      {{empleado.as_p}}

      <div>
        <button type="submit" class="btn btn-success">Guardar</button>
        <button type="reset" class="btn btn-danger">Cancelar</button> </div>


    </form>
  </section>
</fieldset>
{% endblock %}